[Desktop Entry]
Name=INIT PROGRAM
Comment=Inicia Programa
Type=Application
StartupNotify=true
Path=$HOME/Desktop/RFExplorerClient
Exec=python init.py
Icon=$HOME/Desktop/RFExplorerClient/log_rentel.png
